body {
  background: #bdc3c7;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
}

main {
  width: 180px;
  background: #ecf0f1;
  padding: 20px;
  border: 4px solid #fff;
  border-radius: 12px;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
}

img {
  width: 180px;
  height: 180px;
  margin-bottom: 4px;
  border-radius: 30px;
}

#spin {
  cursor: pointer;
  width:280px;
  height: 32px;
  background: #ef454a;
  box-shadow: 0 4px 0 #d1483e;
  border-radius: 16px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  user-select: none;
  margin: 0 auto;
}

#stop {
  cursor: pointer;
  width: 280px;
  height: 32px;
  background: #3498db;
  box-shadow: 0 4px 0 #2880b9;
  border-radius: 16px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  user-select: none;
  margin: 0 auto;
}
